<div class="bg-white border border-input-border rounded-xl p-3 flex items-center w-full hover:border-primary focus-within:border-primary transition-colors duration-200">
  <div class="flex items-center gap-3 w-full">
    <input 
      [type]="type"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [value]="value"
      (input)="onInput($event)"
      class="placeholder-placeholder text-base leading-6 w-full border-none focus:outline-none bg-transparent disabled:opacity-50"
    />
  </div>
</div>
